body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 30px;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
}
h2 {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 50px;
  padding: 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
h3 {
  font-size: 20px;
  padding: 0;
  text-align: left;
  font-family: "Raleway", sans-serif;
}

/* navbar */
.navbar {
  width: auto;
  height: 90px;
  background-color: #0477bf; /* Warna latar belakang navbar yang diperbarui */
  color: #f2f2f2; /* Warna teks, bisa disesuaikan */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky; /* Menambahkan properti position: sticky */
  top: 0; /* Menetapkan posisi tepat di atas layar saat navbar menjadi sticky */
  z-index: 1000; /* Menetapkan z-index agar navbar tetap di atas elemen lain */
}

.teks-logo {
  margin-right: 240px; /* Menambahkan margin ke sisi kanan */
  font-family: "Raleway", sans-serif;
}
/* Mengatur ukuran teks logo */
.teks-logo h2 {
  font-size: 20px; /* Atur ukuran font untuk h2 */
  margin: 1px; /* Atur jarak bawah antara h2 dan p */
}

.teks-logo p {
  font-size: 13px; /* Atur ukuran font untuk p */
  margin: 1px; /* Atur jarak bawah antara h2 dan p */
}

.navbar-logo {
  margin-left: 50px; /* Menambahkan margin ke sisi kanan */
}

.navbar-logo img {
  width: 60px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: auto; /* Biarkan tinggi mengikuti lebar untuk menjaga rasio aspek */
}

.navbar-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: 25px;
}

.navbar-menu li {
  margin-right: 50px; /* Menambahkan margin ke sisi kanan setiap item menu */
}

.navbar-menu a {
  text-decoration: none;
  color: #cfcfcf; /* Warna teks menu, bisa disesuaikan */
  font-weight: bold;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

/* Tambahkan aturan berikut untuk efek hover dan klik */
.navbar-menu a:hover,
.navbar-menu a.active {
  color: #fff; /* Warna teks saat dihover atau aktif, bisa disesuaikan */
}

.dashboard-link {
  color: #fff !important; /* Warna putih terang dari awal */
}
/* end navbar */

/* footer */
.footer-content {
  background-color: #0477bf;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 20px;
  max-width: 100px;
}

.logo img {
  width: 100px;
  height: auto;
}

.address {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 0px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.Sosmed h3 {
  margin-top: 0px;
  margin-left: 20px;
}

.social-icons a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 2px;
}

.list p {
  margin: 0; /* Menghapus margin bawaan pada elemen <p> */
}
.teksfot-logo {
  margin-left: 10px; /* Menambahkan margin ke sisi kanan */
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  max-width: 300px;
}

.teksfot-logo h2 {
  font-size: 25px; /* Atur ukuran font untuk h2 */
  margin: 1px; /* Atur jarak bawah antara h2 dan p */
}

.teksfot-logo p {
  font-size: 16px; /* Atur ukuran font untuk p */
  margin: 1px; /* Atur jarak bawah antara h2 dan p */
}
.copyright {
  background-color: #0477bf;
  color: white;
  padding: 10px;
}
.copyright p {
  text-align: center;
}
/* end footer */

/*------------------------------------------------------------- Dasboard.html-----------------------------------------------------------*/
/* Carousel */

.carousel {
  margin-left: 0%;
  margin-right: 0%;
}
.gambar-pendukung {
  width: 100%;
  height: 870px;
  overflow: hidden;
  position: relative;
}

.gambar-pendukung img {
  width: 100%;
  display: block;
}

ul.slides {
  display: block;
  position: relative;
  height: 700px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}

input:checked + .slide-container .nav label {
  display: block;
}

/* Konten Sambutan */
.hr1 {
  width: 95%;
}
.sambutan {
  text-align: center;
  margin: 20px;
  margin-bottom: 30px;
  padding: 0;
  background-color: #ffffff;
  color: #000;
}

.sambutan h1 {
  font-size: 30px;
  margin-top: 50px;
  padding: 0;
  text-align: center; /* Menjadikan judul terpusat */
  font-family: "Raleway", sans-serif;
}
.teks-pendidikan {
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  margin-left: 48px;
}
.teks-prodi {
}

/* gambar dan teks konten sambutan*/

.gambar-dan-teks-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px; /* Atur margin-top sesuai kebutuhan */
}
.gambar-dan-teks-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px; /* Atur margin-top sesuai kebutuhan */
  flex-direction: row-reverse; /* Membalik arah flex container */
}

.gambar-sambutan {
  width: 580px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: auto;
  margin-right: 50px; /* Atur margin-right sesuai kebutuhan */
}
.gambar-sambutan-2 {
  width: 580px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: auto;
  margin-left: 50px; /* Atur margin-right sesuai kebutuhan */
}
.teks-sambutan {
  margin-top: 0px;
  max-width: 580px; /* Sesuaikan lebar teks sesuai kebutuhan */
  text-align: left; /* Sesuaikan sesuai keinginan Anda (left, right, atau center) */
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 100px;
}
.button_next {
  background-color: #0477bf; /* Warna biru */
  color: #ffffff; /* Warna teks putih */
  padding: 10px 20px; /* Padding pada tombol */
  border: none; /* Hapus border */
  border-radius: 4px; /* Sudut bulat pada tombol */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan sedikit */
  cursor: pointer; /* Pointer ketika diarahkan */
  transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
  float: right;
  margin-right: 0px;
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
}

.button_next:hover {
  background-color: #1f628c; /* Warna biru yang berbeda saat dihover */
}
.button_next_card_vertical {
  background-color: #0477bf; /* Warna biru */
  color: #ffffff; /* Warna teks putih */
  padding: 10px 20px; /* Padding pada tombol */
  border: none; /* Hapus border */
  border-radius: 4px; /* Sudut bulat pada tombol */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan sedikit */
  cursor: pointer; /* Pointer ketika diarahkan */
  transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
  float: right;
  margin-right: 65px;
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
}
.button_next_card_vertical:hover {
  background-color: #1f628c; /* Warna biru yang berbeda saat dihover */
}

/* Pengumuman */
.pengumuman {
  background-color: #f9f9f9;
  height: 770px;
  padding: 2px;
}

.pengumuman-1 {
  background-color: #fff;
  height: 710px;
  padding: 2px;
}

.pengumuman h1 {
  font-size: 30px;
  margin-top: 50px;
  padding: 0;
  text-align: center; /* Menjadikan judul terpusat */
  font-family: "Raleway", sans-serif;
}

/* Card */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.card {
  width: 380px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 17px;
}
.card img {
  width: 100%;
  height: auto;
}
.card-content {
  padding: 16px;
}
.card-content h3 {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 19px;
  margin-bottom: 8px;
}
.card-content p {
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
}
.date {
  display: flex;
  align-items: center;
}
.date p {
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 12px;
  line-height: 1.6;
  margin-left: 10px;
}

/* Keunggukan-del */
.line-content {
  background-color: #0477bf;
  width: autopx; /* Lebar div */
  height: 200px; /* Tinggi div */
  border: 1px solid #0477bf;
}
.cardhor-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  position: relative; /* Tambahkan posisi relatif */
}

.cardhor {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.219);
  width: 580px;
  border-radius: 2px;
  display: flex;
}

.cardhor_hero p {
  font-size: 2rem;
  margin-left: 20px;
}
.cardher_img {
  width: 10%;
}

.cardhor_content {
  flex: 1;
  padding: 5px 35px 25px 35px;
}
.cardhor_content h3 {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 8px;
}
.cardhor_content p {
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
}
.line-content2 {
  background-color: #fff;
  width: autopx; /* Lebar div */
  height: 360px; /* Tinggi div */
}
/*-------------------------------------------------------------End Dasboard.html-----------------------------------------------------------*/

/*-------------------------------------------------------------Pendidikan.html-----------------------------------------------------------*/

.card2 {
  width: 380px;
  height: 225px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 17px;
}

.card2 img {
  width: 100%;
  height: auto;
}

/*-------------------------------------------------------------Pengumuman.html-----------------------------------------------------------*/

.teks-pengumuman {
  background-color: #0477bf;
  height: 190px;
  width: 50%;
  position: relative;
  top: -170px;
  border-radius: 3px;
  margin-left: 68px;
}
.teks-pengumuman h1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
}
.teks-pengumuman p {
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
  color: #f2f2f2;
}
.prodi {
  background-color: #0477bf;
  height: 70px;
  width: 80%;
  position: relative;
  top: -90px;
  border-radius: 3px;
  margin-left: 40px;
}
.prodi h2 {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 10px;
  padding: 5%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
  width: 300px;
}

.prodi-d4 {
  background-color: #0477bf;
  height: 90px;
  width: 80%;
  position: relative;
  top: -90px;
  border-radius: 3px;
  margin-left: 40px;
}
.prodi-d4 h2 {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 2px;
  padding: 5%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
  width: 300px;
}
/* halaman fasilitas */

.gambar-pendukung-fasilitas {
  width: 100%;
  height: 770px;
  overflow: hidden;
  position: relative;
}

.gambar-pendukung-fasilitas img {
  width: 100%;
  display: block;
}

.projcard-container {
  margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1210px;
}
.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
  transform: translate(0px, -3px);
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-family: "Voces", "Open Sans", arial, sans-serif;
  font-size: 24px;
}
.projcard-subtitle {
  font-family: "Voces", "Open Sans", arial, sans-serif;
  color: #888;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar {
  background-color: #0088ff;
}
.projcard-blue::before {
  background-image: linear-gradient(-70deg, #0088ff, transparent 50%);
}
.projcard-blue:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #0088ff, transparent 50%);
}
.projcard-customcolor .projcard-bar {
  background-color: var(--projcard-color);
}
.projcard-customcolor::before {
  background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%);
}
.projcard-customcolor:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%);
}
.projcard-description {
  z-index: 10;
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
  color: #424242;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button_next_fasilitas {
  background-color: #0477bf; /* Warna biru */
  color: #ffffff; /* Warna teks putih */
  padding: 10px 20px; /* Padding pada tombol */
  border: none; /* Hapus border */
  border-radius: 4px; /* Sudut bulat pada tombol */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bayangan sedikit */
  cursor: pointer; /* Pointer ketika diarahkan */
  transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
  float: right;
  margin-right: 21px;
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
}

.button_next_fasilitas:hover {
  background-color: #1f628c; /* Warna biru yang berbeda saat dihover */
}
/* halaman lembaga */
.konten-lembaga h1 {
  font-family: "Voces", "Open Sans", arial, sans-serif;
  font-size: 35px;
  margin-top: 0px;
  max-width: 580px; /* Sesuaikan lebar teks sesuai kebutuhan */
  text-align: left; /* Sesuaikan sesuai keinginan Anda (left, right, atau center) */
}

.teks-lembaga {
  margin-top: 0px;
  max-width: 580px; /* Sesuaikan lebar teks sesuai kebutuhan */
  text-align: left; /* Sesuaikan sesuai keinginan Anda (left, right, atau center) */
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.24px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}
